<% @class_lessons.each do |class_lesson| %>
    <div class="row">
      <h3> <%= link_to "#{class_lesson.class.name}<span class=\"glyphicon arrow\"></span>".html_safe, {controller: :class, action: 'lessons', name: class_lesson.class.name,id: class_lesson.class.id, school_id: @school.id, type_id: @type_id}, remote: true %> ( <%= class_lesson.quantity %> ) </h3>
      <% if class_lesson.lessons.any? %>
          <div class="row">
            <% class_lesson.lessons.each do |lesson| %>

                <div class="col-md-2 portfolio-item lessons" id="lesson-<%= lesson.id %>">
          <span class="lesson-image">
                <%= link_to image_tag(lesson.represent_image.url(:thumb)), {controller: :lessons, action: 'details', id: lesson.id}, alt: lesson.name %>
          </span>
                  <!--<span class="timestamp">-->
                  <!--Uploaded <%= time_ago_in_words(lesson.created_at) %> ago.-->
                  <!--</span>-->
          <span class="lesson-name">
            <%= lesson.name %>
          </span>
                </div>
            <% end %>
          </div>
      <% else %>
          <h3 class="no-lesson-info"> Không có bài giảng nào</h3>
      <% end %>
    </div>
<% end %>