<% if is_admin?(current_user) %>
    <br/>
    <br/>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Tên</th>
        <th>Trường</th>
        <th>Chức vụ</th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
          <%= fields_for "user[]", user do |user_fields| %>
              <tr>
                <td><%= user.username %></td>
                <td><%= user.school.name %></td>
                <td><%= user_fields.email_field :email %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>

    </table>
    <div class="actions">
      <%= submit_tag "Lưu lại thay đổi", class: "btn btn-primary btn-md" %>
    </div>
<% else %>
    <h1>
      Chỉ có admin mới xem được trang này
    </h1>
<% end %>