<% if logged_in? %>
    <% provide(:title, "Đổi mật khẩu") %>
    <h1><font color="blue"> Đổi mật khẩu</font></h1>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for :user, :url => update_password_url, :html => {:method => :put} do |f| %>

            <%= f.label "Mật khẩu cũ" %>
            <%= f.password_field :old_password, class: 'form-control' %>

            <%= f.label "Mật khẩu mới" %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label "Gõ lại mật khẩu" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.submit "Lưu lại", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
<% end %>