<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name, "Họ và tên (*)" %>
        <%= f.text_field :name %>

        <%= f.label :username, "Tên truy nhập (*)" %>
        <%= f.text_field :username %>

        <%= f.label :email, "Email (*)" %>
        <%= f.text_field :email %>

        <%= f.label :password, "Mật khẩu (*)" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Gõ lại Mật khẩu (*)" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Tạo tài khoản", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>