<% provide(:title, "Duyệt bài") %>
<% if logged_in? && is_manager?(current_user) %>
    <br/>
    <br/>
    <div class="row">
      <div class="table-responsive col-md-12">
        <%= form_for :lesson, :url => update_approval_path, :html => {:method => :put} do %>
            <table class="table table-hover table-striped">
              <tr>
                <th class="col-md-4">Tiêu đề</th>
                <th class="col-md-3">Người gửi</th>
                <th class="col-md-2">Ngày gửi</th>
                <th class="col-md-2">Tình trạng</th>
                <th class="col-md-1">Xóa</th>
              </tr>
              <% @lessons.each do |lesson| %>
                  <%= fields_for "lesson[]", lesson do |lesson_fields| %>
                      <tr>
                        <td><%= link_to lesson.name, {controller: "lessons", action: "details", id: lesson.id} %></td>
                        <td><%= lesson.user.name %></td>
                        <td><%= lesson.created_at.strftime("%Y-%m-%d") %></td>
                        <td><%= lesson_fields.select :approved, [["Duyệt", 1], ["Không duyệt", 0]], selected: 0 %></td>
                        <td><%= link_to "Xoá", destroy_by_manager_path(id: lesson.id), method: :delete,
                                        data: {confirm: "Bạn có chắc muốn xóa bài giảng này không?"} %></td>
                      </tr>
                  <% end %>
              <% end %>

            </table>
            <div class="actions">
              <%= button_tag "Lưu lại", class: "btn btn-primary btn-md col-md-2 col-md-offset-5" %>
            </div>
        <% end %>
      </div>
    </div>
    <%= will_paginate @lessons %>
<% else %>
    <h3>
      Chỉ có giáo viên quản lý mới xem được trang này.</br>
    </h3>
<% end %>