<div class="row">
  <div class="col-md-5">
    <%= link_to image_tag(@lesson.represent_image.url(:thumb)), {controller: :lessons, action: 'show', id: @lesson.id} %>
    <% if @lesson.type_id == 1 %>
        <%= link_to "Xem", {controller: :lessons, action: 'show', id: @lesson.id}, class: 'btn btn-primary' %>
    <% end %>
    <%= link_to "Download", @lesson.url.url, class: 'btn btn-primary' %>
  </div>
  <div class="col-md-5">
    <span> Người gửi: <%= @lesson.user.name %> </span> </br>
    <span> Ngày gửi: <%= @lesson.created_at.strftime("%Y-%m-%d") %> </span> </br>
    <span> Lượt xem: <%= @lesson.impressionist_count(:filter => :session_hash) %> </span>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= commontator_thread(@lesson) %>
  </div>
</div>