<div class="row">
  <div class="col-md-5">
    <%= link_to image_tag(@lesson.represent_image.url(:thumb)), {controller: :lessons, action: 'show', id: @lesson.id} %>
  </div>
  <div class="col-md-5">
    <span> Người gửi: <%= @lesson.user.name %> </span> </br>
    <span> Ngày gửi: <%= @lesson.created_at.strftime("%Y-%m-%d") %> </span> </br>
    <span> Lượt xem: <%= @lesson.impressionist_count(:filter => :session_hash) %> </span>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="widget-area no-padding blank">
      <div class="status-upload">
        <%= form_for @comment do |f| %>
          <%= f.text_area :content, placeholder: "Bình luận", maxlength: 200 %>
          <%= f.submit "Bình luận", class: "btn btn-success green" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <span id="comments">
        <small class="pull-right"><%= @comments.count %> bình luận</small>
        <b>Bình luận</b>
      </span>
    </div>
    <div class="comments-list">
      <%= render partial: 'comment/comment', collection: @comments, as: :comment %>
    </div>
  </div>
</div>