<% if logged_in? && is_admin?(current_user) %>
    <div class="row">
      <div class=col-sm-8>
        <% if @school && !@school.errors.empty? %>
            <div class="alert alert-error">
              <ul>
                <% @school.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>

            </div>
        <% end %>
        <div class="divider"></div>
        <%= form_for(:school_new) do |f| %>
            <%= render 'shared/error_messages' %>
            <%= f.label :name, "Tên đơn vị" %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :grade, "Khối" %>
            <%= f.collection_select :grade_id, Grade.all, :id, :name, {}, {class: 'form-control'} %>

            <%= f.label :pdt, "Đơn vị quản lý" %>
            <%= f.collection_select :pdt_id, School.where(grade_id: 5), :id, :name, {}, {class: 'form-control'} %>

            <%= button_tag "Thêm", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
<% else %>
    <h3>Chỉ có admin mới xem được trang này</h3>
<% end %>